@import '../styles/colors';


.welcome {
  background-color: $gray-300;

  .welcomeContent {
    display: flex;
    align-items: flex-end;
    gap: 14.75rem;
    width: 73rem;
    padding: 0 1rem;
    margin: 0 auto;

    >div {
      margin: 5rem 0;

      span {
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $green-700;
      }

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3.25rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        @media screen and (max-width: 480px) {
          font-size: 2.25rem;
        }
      }

      p {
        font-size: 1.125rem;
        margin-bottom: 2rem;
        color: $gray-600;
      }

      a {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 0.5rem;

        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        border-radius: 20rem;
        padding: 1rem;

        color: $white;
        background-color: $green-500;

        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: $green-600;
        }

        img {
          height: 1.125rem;
        }

        @media screen and (max-width: 480px) {
          justify-content: center;
          width: 100%;
        }
      }
    }

    img {
      height: 29.5rem;

      @media screen and (max-width: 1080px) {
        display: none;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}

.regions {
  width: 73rem;
  padding: 0 1rem;
  margin: 4.5rem auto 5rem;



  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
    list-style: none;

    @media screen and (max-width: 1100px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      grid-template-columns: auto;
    }

  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    margin: 2rem 0 2rem;
  }
}