@import '../styles/colors';


.footer {
  padding: 3.25rem;
  color: $white;
  background-color: $green-700;

  >div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73rem;
    margin: 0 auto;

    nav {
      display: flex;
      gap: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        transition: 0.2s;

        &:hover {
          background-color: $green-600;
        }
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }

  @media screen and (max-width: 1200px) {
    width: auto;

    >div {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    padding: 1rem;
  }
}